.dg__line-element {
    flex-shrink: 0;
    height: 24px;
    position: relative;
}

.dg__line-element-input {
    display: inline-flex;
    align-items: center;
    height: 24px;
    min-width: 20px;
    padding: 0 8px;
    outline: none;
    border: 0;
    background-color: var(--tile-hover);
    color: white;
    box-sizing: border-box;
}

.dg__line-element-input.orange {
    color: #bd6220;
}

.dg__line-element-input.white {
    color: #a5afb9;
}

.dg__line-element-input.purple {
    color: #7a7aa8;
}

.dg__line-element-input.yellow {
    color: #f7c068;
}

.dg__line-element-input.green {
    color: #6a8455;
}
