.interactive-editor__editor * {
    box-sizing: border-box;
}

.interactive-editor__editor {
    position: relative;
    max-width: 1360px;
    margin: 0 auto;
    min-height: 600px;
    max-height: 1024px;
    height: calc(100vh - 10rem);
    border: 1px solid #2d2a2d;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #2d2a2d;
}

.interactive-editor__title {
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}

.interactive-editor__description {
    max-width: 700px;
    text-align: center;
    margin: 1rem auto 0;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff90;
}

.interactive-editor__demo-external-hook {
    height: 4rem;
}

.editor__top {
    display: flex;
    flex: 1 auto;
    min-height: 0;
}

.editor__aside {
    max-width: 260px;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    border-right: 1px solid #2d2a2d;
    min-height: 0;
    overflow: auto;
}

.editor__main {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    overflow: hidden;
}

.editor__terminal {
    height: 210px;
    display: flex;
    flex-shrink: 0;
    border-top: 1px solid #2d2a2d;
}

.editor__button {
    margin: 0 16px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    height: 30px;
    min-width: 80px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--ifm-color-primary);
    color: var(--ifm-button-color);
    cursor: pointer;
}

@media (max-width: 1024px) {
    .interactive-editor {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
