.editor-line-number {
    width: 40px;
    height: 24px;
    padding-right: 14px;
    text-align: right;
    background-color: #333237;
}

.editor-line-number-text {
    color: #ffffff;
    opacity: 0.6;
}
