.editor__header {
    height: 30px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    background-color: #3f3e43;
    cursor: default;
    user-select: none;
}

.editor__header-tab {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 0 8px;
    height: 100%;
    background-color: #3f3e43;
    border-bottom: 2px solid transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.editor__header-tab:hover {
    background-color: #2d2a2d;
}

.editor__header-tab--active {
    background-color: #2d2a2d;
    border-bottom: 2px solid #f7d470;
}
